In [1]:
import pandas as pd
import numpy as np


# Matplotlib forms basis for visualization in Python
import matplotlib.pyplot as plt

# We will use the Seaborn library
import seaborn as sns
sns.set()

# Graphics in SVG format are more sharp and legible
get_ipython().run_line_magic('config', "InlineBackend.figure_format = 'svg'")

# Increase the default plot size and set the color scheme
plt.rcParams['figure.figsize'] = (8, 5)
plt.rcParams['image.cmap'] = 'viridis'

In [3]:
df = pd.read_csv('RFM_ht_data.csv', sep=",")

In [4]:
df

             InvoiceNo CustomerCode InvoiceDate   Amount
0       C0011810010001     19067290  2020-09-01  1716.00
1       C0011810010017     13233933  2020-09-01  1489.74
2       C0011810010020     99057968  2020-09-01   151.47
3       C0011810010021     80007276  2020-09-01   146.72
4       C0011810010024     13164076  2020-09-01   104.00
...                ...          ...         ...      ...
332725  S0081810310459     14092500  2020-09-30  3801.87
332726  S0081810310461     99065678  2020-09-30  5769.88
332727  S0081810310462     19029918  2020-09-30   736.88
332728  S0081810310463     13020033  2020-09-30  1475.20
332729  S0081810310466     13046679  2020-09-30   709.56

[332730 rows x 4 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332730 entries, 0 to 332729
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InvoiceNo     332730 non-null  object
 1   CustomerCode  332730 non-null  object
 2   InvoiceDate   332730 non-null  object
 3   Amount        332730 non-null  float64
dtypes: float64(1), object(3)
memory usage: 10.2+ MB

In [15]:
df["InvoiceNo"] = df["InvoiceNo"].apply(str)
df["CustomerCode"] = df["CustomerCode"].apply(str)
df["InvoiceDate"] = pd.to_datetime(df.InvoiceDate)

In [16]:
df.dtypes

InvoiceNo               object
CustomerCode            object
InvoiceDate     datetime64[ns]
Amount                 float64
dtype: object

In [17]:
df.groupby("CustomerCode", as_index=False) \
    .agg({"InvoiceNo" : "count"}) \
    .sort_values("InvoiceNo", ascending=False)

       CustomerCode  InvoiceNo
89388      19057820        204
44594      13215452        113
10347      13032521        106
97077      19080880         99
119951     99003061         90
...             ...        ...
58910      13272861          1
58911      13272871          1
58913      13272875          1
58914      13272878          1
61866      14000778          1

[123733 rows x 2 columns]

In [18]:
last_date = df.InvoiceDate.max()

In [19]:
last_date

Timestamp('2020-09-30 00:00:00')

In [20]:
rfmTable = df.groupby('CustomerCode').agg({'InvoiceDate': lambda x: (last_date - x.max()).days, # Recency #Количество дней с последнего заказа
                                        'CustomerCode': lambda x: len(x),      # Frequency #Количество заказов
                                        'Amount': lambda x: x.sum()}) # Monetary Value #Общая сумма по всем заказам

In [21]:
rfmTable

              InvoiceDate  CustomerCode   Amount
CustomerCode
02213019               19             1  1609.20
02213042               22             3  9685.48
02213071               29             1   415.00
02213088               23             1   305.00
02213092               25             1  1412.88
...                   ...           ...      ...
99099927               10             1   961.10
99099936                0             1  1521.78
99099959                8             2  1444.56
99099963               19             1  3018.91
99099972                0             2  4577.37

[123733 rows x 3 columns]

In [23]:
rfmTable['InvoiceDate'] = rfmTable['InvoiceDate'].astype(int)
rfmTable.rename(columns={'InvoiceDate': 'recency', 
                         'CustomerCode': 'frequency', 
                         'Amount': 'monetary_value'}, inplace=True)

In [24]:
rfmTable

              recency  frequency  monetary_value
CustomerCode
02213019           19          1         1609.20
02213042           22          3         9685.48
02213071           29          1          415.00
02213088           23          1          305.00
02213092           25          1         1412.88
...               ...        ...             ...
99099927           10          1          961.10
99099936            0          1         1521.78
99099959            8          2         1444.56
99099963           19          1         3018.91
99099972            0          2         4577.37

[123733 rows x 3 columns]

In [25]:
rfmTable.shape[0]

123733

In [26]:
df.CustomerCode.nunique()

123733

In [27]:
quantiles = rfmTable.quantile([0.25,0.5,0.75])

In [28]:
quantiles

      recency  frequency  monetary_value
0.25      2.0        1.0          765.00
0.50      8.0        2.0         1834.48
0.75     16.0        3.0         4008.84

In [29]:
rfmSegmentation = rfmTable

In [30]:

def RClass(value,parameter_name,quantiles_table):
    if value <= quantiles_table[parameter_name][0.25]:
        return 1
    elif value <= quantiles_table[parameter_name][0.50]:
        return 2
    elif value <= quantiles_table[parameter_name][0.75]: 
        return 3
    else:
        return 4


def FMClass(value, parameter_name,quantiles_table):
    if value <= quantiles_table[parameter_name][0.25]:
        return 4
    elif value <= quantiles_table[parameter_name][0.50]:
        return 3
    elif value <= quantiles_table[parameter_name][0.75]: 
        return 2
    else:
        return 1

In [31]:

rfmSegmentation['R_Quartile'] = rfmSegmentation['recency'].apply(RClass, args=('recency',quantiles))

rfmSegmentation['F_Quartile'] = rfmSegmentation['frequency'].apply(FMClass, args=('frequency',quantiles))

rfmSegmentation['M_Quartile'] = rfmSegmentation['monetary_value'].apply(FMClass, args=('monetary_value',quantiles))

rfmSegmentation['RFMClass'] = rfmSegmentation.R_Quartile.map(str)                             + rfmSegmentation.F_Quartile.map(str)                             + rfmSegmentation.M_Quartile.map(str)

In [32]:
rfmSegmentation

,recency,frequency,monetary_value,R_Quartile,F_Quartile,M_Quartile,RFMClass
CustomerCode,,,,,,,
02213019,19,1,1609.20,4,4,3,443
02213042,22,3,9685.48,4,2,1,421
02213071,29,1,415.00,4,4,4,444
02213088,23,1,305.00,4,4,4,444
02213092,25,1,1412.88,4,4,3,443
...,...,...,...,...,...,...,...
99099927,10,1,961.10,3,4,3,343
99099936,0,1,1521.78,1,4,3,143
99099959,8,2,1444.56,2,3,3,233
99099963,19,1,3018.91,4,4,2,442
99099972,0,2,4577.37,1,3,1,131

In [45]:
rfmSegmentation[rfmSegmentation.RFMClass == "311"]

,recency,frequency,monetary_value,R_Quartile,F_Quartile,M_Quartile,RFMClass
CustomerCode,,,,,,,
10001834,13,6,5855.21,3,1,1,311
10001842,9,5,7219.98,3,1,1,311
10003108,9,5,6831.49,3,1,1,311
10003319,11,4,7588.12,3,1,1,311
10004583,9,11,13527.71,3,1,1,311
...,...,...,...,...,...,...,...
99089535,9,4,6394.49,3,1,1,311
99092052,11,4,6237.87,3,1,1,311
99093473,15,7,8483.54,3,1,1,311
99097473,12,6,6972.62,3,1,1,311
99099847,16,4,8139.48,3,1,1,311

In [46]:
rfmSegmentation.RFMClass.value_counts()

444    10624
111     9705
443     6729
344     6593
211     5847
       ...
424       63
114       60
214       60
314       33
414        2
Name: RFMClass, Length: 64, dtype: int64